<section id="experience-section" class="container">
  <h1 class="fade-in">what i've worked with so far</h1>
  <div class="content fade-in">
    <p>
      My commercial coding experience is 1 year and 6 months however I've been
      practicing for 3 years. I use mainly Javascript as I started off learning
      about NodeJS and VueJS, but recently I have been focusing on ReactJS as a client
      library; I'm always excited to learn new tech stacks!
    </p>
</div>
<%- include ('tech-section.ejs') %>
</section>
