<section class="container" id="footer">
  <div class="thank-you">
    <h1>thank's for viewing!</h1>
    <div class="heart">
      <i class="fa fa-solid fa-heart"></i>
    </div>
  </div>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/jordan-lyn/">
      <i class="fa fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://www.youtube.com/@jordanlyn9427/">
      <i class="fa fa-brands fa-youtube"></i>
    </a>
    <a href="https://github.com/JLGH42">
      <i class="fa fa-brands fa-github"></i>
    </a>
  </div>
  <div class="trademark">
    <span
      >Created by: <i class="fa fa-regular fa-copyright"></i> Jordan Lyn</span
    >
  </div>
</section>
