<section class="container slide-in slide-up fade-in" id="footer">
  <div class="thank-you">
    <h1>thank's for viewing!</h1>
    <div class="heart">
      <i class="fa fa-solid fa-heart"></i>
    </div>
  </div>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/jordan-lyn/">
      <i class="fa fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://www.youtube.com/@jordanlyn9427/">
      <i class="fa fa-brands fa-youtube"></i>
    </a>
    <a href="https://github.com/JLGH42">
      <i class="fa fa-brands fa-github"></i>
    </a>
  </div>
  <a href="#top" id="top-arrow"
    ><i class="fa fa-solid fa-plane-up fa-bounce"></i
  ></a>
  <label for="top-arrow">up up and away baby!</label>
  <div class="copyright">
    <span
      >Created by: <i class="fa fa-regular fa-copyright"></i>JordanLyn2023</span
    >
  </div>
</section>
