<header class="main-header grid-container">
  <div class="logo">JL</div>
  <nav class="navigation">
      <a href="#">Landing</a>
      <a href="#">Profile</a>
      <a href="#">Journey</a>
  </nav>
</header>
