<header class="main-header grid-container">
  <div class="logo"><a href="/">JL</a></div>
  <nav class="navigation">
      <a href="/">Home</a>
      <a href="#profile-section">Profile</a>
      <a href="#purpose-section">Purpose</a>
      <a href="#experience-section">Experience</a>
      <a href="#footer">Social</a>
  </nav>
</header>
