<header class="main-header grid-container">
  <div class="logo"><a href="#parallax-banner">JL</a></div>
  <nav>
    <ul>
      <li><a href="#top">Home</a></li>
      <li><a href="#profile-section">Profile</a></li>
      <li><a href="#purpose-section">Purpose</a></li>
      <li><a href="#experience-section">Experience</a></li>
      <li><a href="#footer">Social</a></li>
    </ul>
  </nav>
  <div id="hamburger-icon">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <ul class="mobile-menu">
      <li><a href="#top">Home</a></li>
      <hr>
      <li><a href="#profile-section">Profile</a></li>
      <hr>
      <li><a href="#purpose-section">Purpose</a></li>
      <hr>
      <li><a href="#experience-section">Experience</a></li>
      <hr>
      <li><a href="#footer">Social</a></li>
      <hr>
    </ul>
  </div>
</header>
