<div class="hero-image-container">
    <img src="images/me.jpg" alt="jordan" />
    <div class="hero-overlay">
      <a class="hero-link" href="/profile">
        <h1 class="text">View Profile</h1>
      </a>
    </div>
  </div>