<div class="hero-container">
    <div class="static-text">I am</div>
    <ul class="dynamic-text">
        <li><span>Jordan</span></li>
        <li><span>The Future</span></li>
        <li><span>Self-Taught</span></li>
    </ul>
</div>