<div class="banner">
    <div class="hero-overlay">
      <div class="hero-container">
        <div class="static-text">I am</div>
        <ul class="dynamic-text">
          <li><span>Jordan Lyn</span></li>
          <li><span>Self-Taught</span></li>
          <li><span>The Future</span></li>
        </ul>
      </div>
    </div>
  </div>