<section class="container" id="profile-section">
  <h1>a little bit about me</h1>
  <div class="profile-wrapper">
    <img class="profile-image" src="/images/me.jpg" alt="" />
  </div>
  <div class="content">
    <p>
      Hi! My name is Jordan Lyn, I'm a self-taught developer from Plaistow,
      London with a strong passion for web development. I'm working part-time as
      a security officer and self-studying using resources such as YouTube,
      Udemy, and information sites such as MDN and Medium Blog posts. I aspire
      to be a leader in this field with a set of varied unparalleled skills
      which I think is what it takes to become a fully-fledged developer.
    </p>
    <p>
      When I'm away from my keyboard I enjoy going to the gym, learning about
      animals and playing video games (not so AFK after all).
    </p>
  </div>
  <div class="tl-dr grid-container">
    <h3>TL;DR: Self Manifesto</h3>
    <div class="tldr-man-1">
      <i class="fa fa-light fa-keyboard"></i>
      <h5>web development</h5>
    </div>
    <div class="tldr-man-2">
      <i class="fa-solid fa-gamepad"></i>
      <h5>gaming</h5>
    </div>
    <div class="tldr-man-3">
      <i class="fa-solid fa-paw"></i>
      <h5>animals</h5>
    </div>
  </div>
</section>
