<div class="tech grid-container fade-in">
  <h2>Technologies I've worked with before:</h2>
  <div class="icons grid-container fade-in">
    <i class="fa fa-brands fa-html5"></i>
    <i class="fa fa-brands fa-css3"></i>
    <i class="fa fa-brands fa-js"></i>
    <i class="fa fa-brands fa-react"></i>
    <i class="fa fa-brands fa-bootstrap"></i>
    <i class="fa fa-brands fa-vuejs"></i>
    <i class="fa fa-brands fa-docker"></i>
    <i class="fa fa-brands fa-node"></i>
  </div>
  <h2>Companies I've worked at:</h2>
  <div class="company">
    <img src="images/winebuyers-logo.jpeg" alt="winebuyers logo" />
  </div>
</div>
